    body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding-top: 50px;
        background: #646464;
    }

    h1 {
        margin-bottom: 20px;
        border-radius: 30px;
        background-color: aliceblue;
        padding: 10px;
        margin: 3%;
    }

    .rps {
        width: 30%;
        justify-self: center;
        border-style: inset;
        height: fit-content;
        display: flex;
        flex-direction: column;
        background-color: rgb(167, 220, 234);
        border-radius: 20px;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        margin: 10px;
        cursor: pointer;
        width: 120px;
        align-self: center;
        background-color: aliceblue;
        border-radius: 40px;
        font-weight: bold;
    }

    p {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    #result {
        color: red;
        font-size: x-large;
    }