    body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding-top: 50px;
        background: #646464;
    }

    h1 {
        border-radius: 30px;
        background-color: aliceblue;
        padding: 10px;
        margin: 30px 30px 30px 30px;
        border-style: double;

    }

    h2 {
        border-radius: 30px;
        background-color: aliceblue;
        padding: 10px;
        margin: 0px 30px 10px 30px;
        width: 70%;
        align-self: center;
    }

    .main {
        width: 45%;
        justify-self: center;
        border-style: double;
        height: fit-content;
        display: flex;
        flex-direction: column;
        background-color: rgb(167, 220, 234);
        border-radius: 20px;
        padding: 12px;
    }

    .guess {
        padding: 7px 12px;
        font-size: 14px;
        margin: 10px;
        cursor: pointer;
        width: 150px;
        align-self: center;
        background-color: aliceblue;
        border-radius: 40px;
    }

    p {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
    }