body {
  font-size: 125%;
  padding: 30px;
  border: solid 3vw silver;
}

p {
  color: #292929;
  font-family: Calibri;
  font-size: 16px;
}

h2 {
  font-size: 24px;
  font-family: Calibri;
  margin-top: 15px;
}

h3 {
  color: #4D4D4D;
  font-size: 18px;
  font-family: Calibri;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  font-family: Calibri;
  font-size: 16px;
  color: #202020;
}

dl {
  list-style-type: none;
  padding-left: 5px;
  font-family: Calibri;
  font-size: 16px;
  color: #202020;
}

li {
  margin-bottom: 8px;
}

dt {
  margin-bottom: 5px;
}

dd {
  margin-bottom: 12px;
}

.Headings {
  color: #000000;
  text-decoration: underline;
}

#personalProfile {
  font-weight: bold;
  font-style: italic;
}

/* Navbar Styling */
.navbar-brand {
  background-color: rgb(104, 102, 102);
  border-radius: 12px;
  padding: 8px;
  margin: 2px;
  color: white;
}

nav {
  border-radius: 15px;
}

/* The card with pic */
.card {
  background-color: #dfdfdf;
  border-radius: 30px;
}

/* Personal Profile Section */
.col-lg-9 {

  border-style: groove;
  border-radius: 20px;

}

.separator {
  width: 100%;
  height: 3px;
  background-color: #000000;
}



@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 14px;
  }

  ul,
  dl {
    font-size: 14px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Adjusted navbar for mobile view */
  .navbar-nav {
    text-align: center;
  }
}